<div class="dashboard-sidebar">
  <div class="dashboard-sidebar-inner">

    <div class="simplebar-scroll-content">
      <div class="simplebar-content">
        <div class="dashboard-nav-container">


          <!-- Navigation -->
          <div class="dashboard-nav">
            <div class="dashboard-nav-inner">

              <ul data-submenu-title="Start">
                <li class="active">
                  <a routerLink="/dash">
                    <i class="icon-material-outline-dashboard"></i> Dashboard</a>
                </li>
                <li>
                  <a routerLink="/transactions">
                    <i class="icon-material-outline-star-border"></i> Transactions</a>
                </li>
              </ul>

              <ul data-submenu-title="Organize and Manage">
                <li>
                  <a href="#">
                    <i class="icon-material-outline-business-center"></i> Products</a>
                  <ul>
                    <li>
                      <a routerLink="/">Add
                      </a>
                    </li>
                    <li>
                      <a routerLink="/">Manage</a>
                    </li>
                  </ul>
                </li>
              </ul>

              <ul data-submenu-title="Account">
                <li>
                  <a routerLink="/settings">
                    <i class="icon-material-outline-settings"></i> Settings</a>
                </li>
                <li>
                  <a routerLink="/">
                    <i class="icon-material-outline-power-settings-new"></i> Logout</a>
                </li>
              </ul>

            </div>
          </div>
          <!-- Navigation / End -->

        </div>
      </div>
    </div>
  </div>
</div>