<div class="o-page__card">
  <div class="c-card c-card--center">
    <span class="c-icon c-icon--large u-mb-small">
      <img src="assets/img/logo-small.svg" alt="Neat">
    </span>

    <h4 class="u-mb-medium">CONNECTEZ-VOUS</h4>
    <form>
      <div class="c-field">
        <label class="c-field__label">Adresse email</label>
        <input class="c-input u-mb-small" type="email" placeholder="" required="">
      </div>

      <div class="c-field">
        <label class="c-field__label">Mot de passe</label>
        <input class="c-input u-mb-small" type="password" placeholder="" required="">
      </div>

      <button class="c-btn c-btn--fullwidth c-btn--info" routerLink="/dash">Se connecter</button>
    </form>
  </div>
</div>