  <div class="container" style="padding-top:40px;">
    <div class="row u-justify-center">
      <div class="col-lg-6 u-text-center">
        <h2 class="u-mb-small">Bienvenue sur CinetPay POS</h2>
        <p class="u-text-large u-mb-large">Votre POS Compatible Mobile money</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-xl-4 u-ml-auto">
        <div class="c-card is-animated">
          <span class="c-icon c-icon--large u-mb-small">
            <i class="feather icon-home"></i>
          </span>

          <h5 class="u-mb-xsmall">Voir mon tableau de bord</h5>
          <p class="u-mb-medium">Gestion des articles, stock et configuration du POS</p>
          <a class="c-btn c-btn--info has-arrow" routerLink="/login">
            Se connecter
            <i class="feather icon-chevron-right"></i>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 u-mr-auto">
        <div class="c-card is-animated">
          <span class="c-icon c-icon--large u-mb-small">
            <i class="feather icon-anchor"></i>
          </span>

          <h5 class="u-mb-xsmall">Demarrer le POS</h5>
          <p class="u-mb-medium">Commencer à vendre et encaisser des paiements maintenant</p>
          <a class="c-btn c-btn--info has-arrow" routerLink="/pos">Demarrer
            <i class="feather icon-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>


    <app-footer></app-footer>
  </div>
