.products-label {
    background-color: black;
    position: absolute;
    font-size: 14px;
    color: white;
    padding: 12px;
}

.img-product {
    height:120px;
}

.text-white {
    color:white !important;
}

.white-bg {
    background-color:white;
}

.padding {
    padding:40px;
}

.action-btn {
  margin: 1px !important;
  padding: 2px 7px;
}

.minBlock {
  min-height: 465px !important;
}

.table thead th {
  border-color: transparent;
}
