<header id="header-container" class="fullwidth transparent">

  <!-- Header -->
  <div id="header">
    <div class="container">

      <!-- Left Side Content -->
      <div class="left-side">

        <!-- Logo -->
        <div id="logo">
          <a href="index.html">
            <img src="assets/images/logo.png" alt="">
          </a>
        </div>

        <!-- Main Navigation -->
        <nav id="navigation">
          <ul id="responsive">

            <li>
              <a routerLink="/" class="current">Login</a>
            </li>

            <li>
              <a routerLink="/signup" class="current">SignUp</a>
            </li>


          </ul>
        </nav>
        <div class="clearfix"></div>
        <!-- Main Navigation / End -->

      </div>
      <!-- Left Side Content / End -->


      <!-- Right Side Content / End -->
      <div class="right-side">

        <div class="header-widget">
          <a routerLink="/dash" class="popup-with-zoom-anim log-in-button">
            <i class="icon-feather-log-in"></i>
            <span>Dashboard</span>
          </a>
        </div>

      </div>
      <!-- Right Side Content / End -->

    </div>
  </div>
  <!-- Header / End -->

</header>