

<!-- Dashboard Headline -->
<div class="dashboard-headline">
  <h3>Transactions</h3>
</div>

<!-- Row -->
<div class="row">
  
<div class="col-xl-12 col-md-12">
  <table class="basic-table">

    <tbody>
      <tr>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
      </tr>

      <tr>
        <td data-label="Column 1">Item</td>
        <td data-label="Column 2">Description</td>
        <td data-label="Column 3">Description</td>
      </tr>

      <tr>
        <td data-label="Column 1">Item</td>
        <td data-label="Column 2">Description</td>
        <td data-label="Column 3">Description</td>
      </tr>

      <tr>
        <td data-label="Column 1">Item</td>
        <td data-label="Column 2">Description</td>
        <td data-label="Column 3">Description</td>
      </tr>

      <tr>
        <td data-label="Column 1">Item</td>
        <td data-label="Column 2">Description</td>
        <td data-label="Column 3">Description</td>
      </tr>
    </tbody>
  </table>
</div>

</div>
<!-- Row / End -->