<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <!-- Login -->
      <div class="popup-tab-content" id="login" style="">

        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>Welcome Back</h3>
          <span>Log in to your account or
            <a href="#" class="register-tab">Sign Up!</a>
          </span>
        </div>

        <!-- Form -->
        <form method="post" id="login-form">
          <div class="input-with-icon-left">
            <i class="icon-material-baseline-mail-outline"></i>
            <input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Email Address" required="">
          </div>

          <div class="input-with-icon-left">
            <i class="icon-material-outline-lock"></i>
            <input type="password" class="input-text with-border" name="password" id="password" placeholder="Password" required="">
          </div>
        </form>

        <!-- Button -->
        <button class="button full-width button-sliding-icon ripple-effect" type="submit" form="login-form">Log In
          <i class="icon-material-outline-arrow-right-alt"></i>
        </button>

      </div>
    </div>
  </div>
</div>