<div class="col-md-12">
  <p-table dataKey="id" stateKey="sales" [value]="sales" styleClass="p-datatable-striped" [rows]="10"
    [paginator]="true" #yp1 lang="fr">
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-md-6 text-start">
          <h5 class="mt-2">Sales</h5>
        </div>
        <div class="col-md-6 text-right">
          <button (click)="refresh()" pButton type="button" icon="pi pi-refresh" class="p-button-sm p-button-link"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Name
          <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
        </th>
        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
        <th pSortableColumn="stock">Stock <p-sortIcon field="stock"></p-sortIcon></th>
        <th pSortableColumn="sale">Category <p-sortIcon field="sale"></p-sortIcon></th>
        <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
        <th class="text-right" pSortableColumn="date">Created at <p-sortIcon field="date"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sale>
      <tr>
        <td>{{ sale.name }}</td>
        <td>{{ sale.price  | currency }}</td>
        <td>{{ sale.stock }}</td>
        <td>{{ sale.category }}</td>
        <td>
          <span class="badge bg-primary text-white" *ngIf="sale.status">Enable</span>
          <span class="badge bg-danger text-white" *ngIf="!sale.status">Disable</span>
        </td>
        <td class="text-right">{{ sale.created_at | date: "dd/MM/yyyy" }}</td>
        <td class="text-right">
          <button (click)="show(sale)" pButton type="button" icon="pi pi-eye" class="p-button-sm mr-2"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" class="d-none">
      <tr>
        <td colspan="7">No sales found.</td>
      </tr>
    </ng-template>
  </p-table>

</div>