<!-- Footer -->
<div class="dashboard-footer-spacer" style="padding-top: 125px;"></div>
<div class="small-footer margin-top-15">
  <div class="small-footer-copyrights">
    © 2018
    <strong>Hireo</strong>. All Rights Reserved.
  </div>
  <ul class="footer-social-links">
    <li>
      <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Facebook">
        <i class="icon-brand-facebook-f"></i>
      </a>
    </li>
    <li>
      <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Twitter">
        <i class="icon-brand-twitter"></i>
      </a>
    </li>
    <li>
      <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Google Plus">
        <i class="icon-brand-google-plus-g"></i>
      </a>
    </li>
    <li>
      <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="LinkedIn">
        <i class="icon-brand-linkedin-in"></i>
      </a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>
<!-- Footer / End -->