<div class="container" style="padding-top:40px;">
    <div class="row u-justify-center">
      <div class="col-lg-6 u-text-center">
        <a class="u-text-center">
          <img src="assets/img/logo.png" alt="AngularPOS" title="AngularPOS" width="100px">
        </a>
        <h2 class="u-mb-small">Welcome to AngularPOS</h2>
        <p class="u-text-large u-mb-large">Votre POS Compatible Mobile money</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-xl-4 u-ml-auto">
        <div class="c-card is-animated">
          
          <span class="c-icon c-icon--large u-mb-small">
            <i class="feather icon-home"></i>
          </span>

          <h5 class="u-mb-xsmall">Dashboard</h5>
          <p class="u-mb-medium">Management of products, stock and configuration of POS</p>
          <a class="c-btn c-btn--info has-arrow" routerLink="/login" *ngIf="!isAuth">
            Login
            <i class="feather icon-chevron-right"></i>
          </a>
          <a class="c-btn c-btn--info has-arrow" (click)="dashboard()" *ngIf="isAuth">
            My dashboard
            <i class="feather icon-chevron-right"></i>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 u-mr-auto">
        <div class="c-card is-animated bg-primary u-text-white">
          <span class="c-icon c-icon--large u-mb-small">
            <i class="feather icon-airplay"></i>
          </span>

          <h5 class="u-mb-xsmall u-text-white">Start POS</h5>
          <p class="u-mb-medium u-text-white">Start selling and cash out of payments now with Mobile Money</p>
          <a class="c-btn c-btn--white has-arrow u-text-primary" routerLink="/pos">Begin
            <i class="feather icon-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>


  </div>
