@media only screen and (min-width: 991px){
  [data-sidebar-style="mini"][data-layout="vertical"] .fixed-content-box + .header + .deznav + .content-body {
    margin-left: 20.937rem !important;
  }
}


@media only screen and (min-width: 768px) {
  [data-sidebar-style="mini"] .content-body {
    margin-left: 20.937rem !important;
  }
}

[data-header-position="fixed"] .content-body {
  padding-top: 5rem;
}
