<div class="o-page__sidebar js-page-sidebar">
  <aside class="c-sidebar">
    <div class="c-sidebar__brand">
      <a href="#">
        <img src="assets/img/logo.svg" alt="Neat">
      </a>
    </div>

    <!-- Scrollable -->
    <div class="c-sidebar__body">
      <span class="c-sidebar__title">Dashboards</span>
      <ul class="c-sidebar__list">
        <li>
          <a class="c-sidebar__link" href="dashboard01.html">
            <i class="c-sidebar__icon feather icon-home"></i>Dashboard 1
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="dashboard02.html">
            <i class="c-sidebar__icon feather icon-bar-chart-2"></i>Dashboard 2
          </a>
        </li>
        <li>
          <a class="c-sidebar__link is-active" href="dashboard03.html">
            <i class="c-sidebar__icon feather icon-pie-chart"></i>Dashboard 3
          </a>
        </li>
      </ul>

      <span class="c-sidebar__title">General</span>
      <ul class="c-sidebar__list">
        <li>
          <a class="c-sidebar__link" href="pipeline.html">
            <i class="c-sidebar__icon feather icon-move"></i>Pipeline
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="calendar.html">
            <i class="c-sidebar__icon feather icon-calendar"></i>Calendar
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="members.html">
            <i class="c-sidebar__icon feather icon-users"></i>Members
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="invoice.html">
            <i class="c-sidebar__icon feather icon-file-text"></i>Single Invoice
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="user-profile.html">
            <i class="c-sidebar__icon feather icon-user"></i>User
          </a>

          <!-- Always visible submenu -->
          <ul class="c-sidebar__list">
            <li>
              <a class="c-sidebar__link" href="index.html">Onboard</a>
            </li>
            <li>
              <a class="c-sidebar__link" href="account-settings.html">Account Settings</a>
            </li>
            <li>
              <a class="c-sidebar__link" href="signup.html">Sign Up</a>
            </li>
            <li>
              <a class="c-sidebar__link" href="signin.html">Sign In</a>
            </li>
            <li>
              <a class="c-sidebar__link" href="reset-password.html">Reset Password</a>
            </li>
            <li>
              <a class="c-sidebar__link" href="forgot-password.html">Forgot Password</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="c-sidebar__link" href="pricing.html">
            <i class="c-sidebar__icon feather icon-tag"></i>Pricing
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="faq.html">
            <i class="c-sidebar__icon feather icon-info"></i>FAQ
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="404.html">
            <i class="c-sidebar__icon feather icon-anchor"></i>404
          </a>
        </li>

        <li class="c-sidebar__item has-submenu">
          <a class="c-sidebar__link" data-toggle="collapse" href="#sidebar-submenu" aria-expanded="false" aria-controls="sidebar-submenu">
            <i class="c-sidebar__icon feather icon-hash"></i>Sub Menu
          </a>

          <div>
            <ul class="c-sidebar__list collapse" id="sidebar-submenu">
              <li>
                <a class="c-sidebar__link" href="#">Submenu link</a>
              </li>
              <li>
                <a class="c-sidebar__link" href="#">Submenu link</a>
              </li>
              <li>
                <a class="c-sidebar__link" href="#">Submenu link</a>
              </li>
            </ul>
          </div>

        </li>
      </ul>

      <span class="c-sidebar__title">Neat</span>
      <ul class="c-sidebar__list">
        <li>
          <a class="c-sidebar__link" href="ui-kit.html">
            <i class="c-sidebar__icon feather icon-layers"></i>UI Kit
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="../docs/index.html">
            <i class="c-sidebar__icon feather icon-book"></i>Documentation
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="../changelog/index.html">
            <i class="c-sidebar__icon feather icon-anchor"></i>Changelog
          </a>
        </li>
      </ul>
    </div>


    <a class="c-sidebar__footer" href="#">
      Logout
      <i class="c-sidebar__footer-icon feather icon-power"></i>
    </a>
  </aside>
</div>