<div class="o-page__sidebar js-page-sidebar">
    <aside class="c-sidebar">
      <div class="c-sidebar__brand">
        <a class="u-text-center">
          <img src="assets/img/logo.png" alt="AngularPOS" title="AngularPOS" width="100px">
        </a>
      </div>

      <!-- Scrollable -->
      <div class="c-sidebar__body">
        <span class="c-sidebar__title">Dashboards</span>
        <ul class="c-sidebar__list">
          <li>
            <a class="c-sidebar__link " routerLink="admin/dashboard" routerLinkActive="is-active">
              <i class="c-sidebar__icon feather icon-home"></i>Dashboard
            </a>
          </li>
        </ul>

        <span class="c-sidebar__title">Sales</span>
        <ul class="c-sidebar__list">
          <li>
            <a class="c-sidebar__link" href="">
              <i class="c-sidebar__icon feather icon-list"></i>Orders
            </a>
          </li>
        </ul>

        <span class="c-sidebar__title">Settings</span>
        <ul class="c-sidebar__list">
          <li>
            <a class="c-sidebar__link" routerLink="admin/categories" routerLinkActive="is-active">
              <i class="c-sidebar__icon feather icon-folder"></i>Categories
            </a>
          </li>
          <li>
            <a class="c-sidebar__link" routerLink="admin/products" routerLinkActive="is-active">
              <i class="c-sidebar__icon feather icon-tag"></i>Products
            </a>
          </li>
        </ul>

        <span class="c-sidebar__title">Point of sales</span>
        <ul class="c-sidebar__list">
          <li>
            <a class="c-sidebar__link" routerLink="/pos">
              <i class="c-sidebar__icon feather icon-airplay"></i>Make new order
            </a>
          </li>
        </ul>
      </div>


      <a class="c-sidebar__footer" (click)="logOut()">
        Logout
        <i class="c-sidebar__footer-icon feather icon-power"></i>
      </a>
    </aside>
  </div>
