<div class="container">

  
    <div class="row">
      <div class="col-md-4">
        <div class="c-card" data-mh="dashboard3-cards" style="height: 432px;">
          <h4>Top 5 products</h4>
          <p class="u-mb-medium">Best product sold.</p>
  
          <div class="o-line u-pb-small u-mb-small u-border-bottom">
            <div class="o-media">
              <div class="o-media__img u-mr-small">
                <div class="c-avatar c-avatar--xsmall">
                  <img class="c-avatar__img" src="assets/img/chicken.jpeg" alt="Name">
                </div>
              </div>
  
              <div class="o-media__body">
                <h6>Chicken</h6>
                <p>Category : Food</p>
              </div>
            </div>
  
            <h6>0</h6>
          </div>
  
        </div>
      </div>
      <div class="col-md-8">
        <div class="c-table-responsive@wide">
          <table class="c-table">
            <thead class="c-table__head">
              <tr class="c-table__row">
                <th class="c-table__cell c-table__cell--head">Reference</th>
                <th class="c-table__cell c-table__cell--head">Commande</th>
                <th class="c-table__cell c-table__cell--head">Amount</th>
                <th class="c-table__cell c-table__cell--head">Date</th>
                <th class="c-table__cell c-table__cell--head">Actions</th>
              </tr>
            </thead>
  
            <tbody>
              <tr class="c-table__row">
                <td class="c-table__cell">232838F</td>
                <td class="c-table__cell">Adipisicing veniam consectetur.</td>
                <th class="c-table__cell">$500</th>
                <td class="c-table__cell">19-11-2018</td>
                <td class="c-table__cell">
                  <div class="c-dropdown dropdown">
                    <a href="#" class="c-btn c-btn--info has-icon">
                      <i class="feather icon-file"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  
  </div>